<!DOCTYPE html>
<html>

<head>
    <title>Weather App</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body>
    <div class="container">
        <h1>Weather App using NodeJS</h1>
        <form action="/weather" method="get">
            <input type="text" name="city" placeholder="Enter city name" />
            <button type="submit">Get Weather</button>
        </form>
        <div id="result"></div>
    </div>
</body>

</html>